@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sigmar&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

body{
    min-height: 100vh;
    height: 100%;
   background: yellow;
}

nav {
    height: 70px;
    background-color: transparent;
}

.nav-items {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 50px;
}

.nav-items-first-part a {
    font-size: 30px;
    letter-spacing: 2px;
    font-family: "Sigmar", sans-serif;
    color: cyan;
    text-transform: uppercase;
}


.nav-items-second-part a {
    padding:2px 10px;
    color: white;
    font-size: 18px;
    transition: all .3s;
    transition: border-bottom .1s;
}

.nav-items-second-part .active{
    color: cyan;
    font-weight: bold;
    border-top: 2px solid cyan;
    border-bottom: 2px solid cyan;
}

.nav-items-second-part a:hover {
    color: cyan;
    font-weight: bold;
    border-top: 2px solid cyan;
    border-bottom: 2px solid cyan;
}

.menu-icon {
    font-size: 30px;
    color: cyan;
    cursor: pointer;
    display: none;
}

@media (max-width: 896px) {

    nav {
        min-height: 70px;
        background-color: transparent;
    }

    .menu-icon{
        display: block;
    }
    

    .nav-items-second-part {
        display: none;
    }

    .nav-items-first-part.hidden{
        display: none; 
    }

    .nav-items-second-part.active {
        display: flex; 
        flex-direction: column;
        background-color: black;
        height: 150px;
        margin-top: 100px;
        z-index: 1;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .nav-items-second-part a {
        width: 100%;
        text-align: center;
    }
}

main {
    color: white;
    min-height: calc( 100vh - 70px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container {
    width: 90vw;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-part {
    width: 70%;
}


.image-part img{
    width: 100%;
    height: auto;
}

.text-part h4 {
    font-family: "Sigmar", sans-serif;
    color: yellowgreen;
    font-size: 40px;
    letter-spacing: 3px;
}

@media (max-width: 899px) {
    .main-container {
        display: flex;
        flex-direction: column;
    }

    .text-part {
        width: 90%;
    }

    .text-part p {
        font-size: 14px;
        line-height: 20px;
    }

    .text-part h4 {
        font-size: 30px;
        margin-top: 40px;
    }

    .image-part {
        height: 300px;
        margin-bottom: 30px;
    }

    .image-part img {
        height: 100%;
        width: auto;
    }
}

